export default {

    oidc: {
        clientId: 'CLIENT-ID',
        issuer: 'https://CLIENT-URL/oauth2/default',
        redirectUri: 'https://localhost:4200/login/callback',
        scopes: ['openid', 'profile', 'email']
    }

}
